[submodule "EFC2/q3/TSP-GA"]
	path = EFC2/q3/TSP-GA
	url = https://github.com/lccasagrande/TSP-GA.git
[submodule "EFC2/q3/TSP_GA_PY"]
	path = EFC2/q3/TSP_GA_PY
	url = https://github.com/ysy950803/TSP_GA_PY.git
